<div class="banner">
    <table>
        <tr>
            <td style="width:100%;">
                <div class="banner-text-container">
                    <span class="banner-text" xasString="{{data.message}}"></span>
                </div>
            </td>
            <td>
                <div class="banner-button-container">
                    <button class="btn btn-medium btn-secondary-alert banner-button xrx-navigate_down" (click)="closeModal()"></button>
                </div>
            </td>
        </tr>
    </table>
</div>
